<mat-toolbar color="primary" class="toolbarDetails">
  <button *ngIf="options.backEnabled" mat-icon-button (click)="onNavigateBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button *ngIf="!options.backEnabled" mat-icon-button (click)="onNavigateBack()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="toolbarTitle">{{options.title}}</span>

  <button mat-icon-button *ngFor="let action of options.actions" (click)="action.runAction()">
  <i class = "material-icons">{{action.icon}}</i>
  </button>
</mat-toolbar>
