<mat-card fxLayout="column" class="dtca-card">
  <mat-nav-list>
    <mat-list-item *ngFor="let c of contacts" fxLayout="row" (click)="onContactSelected(c)">
      <ngx-avatar name="{{c.firstName}} {{c.lastName}}" size="43"></ngx-avatar>
      <dtca-contact-list-item
        [contact]="c"
        (selected)="onContactSelected($event)">
      </dtca-contact-list-item>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<button mat-fab class="add-button">
  <i class="material-icons">add</i>
</button>
